body{
    font-family: 'Poppins', sans-serif;
}

/* Main Section */
.main-section{
    text-align: center;
    padding: 10% 15%;
    background: url(https://images.prismic.io/clubhouse/fc3d0d80-44ce-43f2-b072-b3999c9d30d0_careers_hero_v3.png?auto=format%2Ccompress&rect=0%2C0%2C2710%2C1350&w=2033&h=1012&fit=max&q=50) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	margin: 4rem 0 9rem 0;
	height: 90vh;
}

.apply-btn{
    margin: 4% 3% 3% 0;
}

.main-heading1{
    font-size: 3.5rem;
    line-height: 1.5;
}
.main-heading2{
    font-size: 1.5rem;
    line-height: 1.5;
}


/*Testimonials */
.card {
	margin: 0 auto;
	border: none;
}

.card .carousel-item {
	min-height: 190px;
}
.card .carousel-caption {
	padding: 0;
	right: 15px;
	left: 15px;
	top: 15px;
	color: #3d3d3d;
	border: 1px solid #ebebeb;
	min-height:175px;
	padding: 15px;
}
.carousel-control-prev-icon i, .carousel-control-next-icon i{
margin-top:8px;
display:inline-block;	
}
.card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.card .carousel-caption .col-sm-9 {
	text-align: left;
}
.card .carousel-control-prev, .card .carousel-control-next {
	/* color: #3d3d3d !important; */
	text-decoration: none;
	opacity: 1 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-image: none;
	color: #fff;
	font-size: 14px;
	background-color: #f38704;
	height: 32px;
	line-height: 32px;
	width: 32px;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
	opacity: 0.85;
}
.carousel-control-prev {
	left: 40%;
	top: 110%;
}
.carousel-control-next {
	right: 40%;
	top: 110%;
}
.midline {
	width: 90px;
	border-top: 1px solid #d43025;
}
.carousel-caption h2 {
	font-size: 14px;
}
.carousel-caption h2 span {
	/*color: #cd3a54;*/
	color: purple;
}
 @media (min-width: 320px) and (max-width: 575px) {
.carousel-caption {
	position: relative;
}
.card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.card .carousel-caption img {
	margin: 0 auto;
}
.carousel-control-prev {
	left: 35%;
	top: 105%;
}
.carousel-control-next {
	right: 35%;
	top: 105%;
}

.card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}
@media (min-width: 576px) and (max-width: 767px) {
.carousel-caption {
	position: relative;
}
.card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.card .carousel-caption img {
	margin: 0 auto;
}
.card .carousel-caption h3, .card .carousel-caption small {
	text-align: center;
}
.carousel-control-prev {
	left: 35%;
	top: 105%;
}
.carousel-control-next {
	right: 35%;
	top: 105%;
}
}
@media (min-width: 767px) and (max-width: 991px) {
.card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}

/* Call to action section */
.cta-section{
    text-align: center;
    background-color: #289eb6;
    padding: 5%;
	margin: 4rem 0;
}

/*testimonials*/

.testimonials-clean {
	color:#313437;
	background-color:#DBE6FD;
  }
  
  .testimonials-clean p {
	color:#7d8285;
  }
  
  .testimonials-clean h2 {
	font-weight:bold;
	margin-bottom:40px;
	padding-top:40px;
	color:inherit;
  }
  
  @media (max-width:767px) {
	.testimonials-clean h2 {
	  margin-bottom:25px;
	  padding-top:25px;
	  font-size:24px;
	}
  }
  
  .testimonials-clean .intro {
	font-size:16px;
	max-width:500px;
	margin:0 auto;
  }
  
  .testimonials-clean .intro p {
	margin-bottom:0;
  }
  
  .testimonials-clean .people {
	padding:50px 0 20px;
  }
  
  .testimonials-clean .item {
	margin-bottom:32px;
  }
  
  @media (min-width:768px) {
	.testimonials-clean .item {
	  height:220px;
	}
  }
  
  .testimonials-clean .item .box {
	padding:30px;
	background-color:#fff;
	position:relative;
  }
  
  .testimonials-clean .item .box:after {
	content:'';
	position:absolute;
	left:30px;
	bottom:-24px;
	width:0;
	height:0;
	border:15px solid transparent;
	border-width:12px 15px;
	border-top-color:#fff;
  }
  
  .testimonials-clean .item .author {
	margin-top:28px;
	padding-left:25px;
  }
  
  .testimonials-clean .item .name {
	font-weight:bold;
	margin-bottom:2px;
	color:inherit;
  }
  
  .testimonials-clean .item .title {
	font-size:13px;
	color:#9da9ae;
  }
  
  .testimonials-clean .item .description {
	font-size:15px;
	margin-bottom:0;
  }
  
  .testimonials-clean .item img {
	max-width:40px;
	float:left;
	margin-right:12px;
	margin-top:-5px;
  }
  
  